<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676014903428-guvlqlnhqfq421q7q0avn2bh8beinb6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676014903428-guvlqlnhqfq421q7q0avn2bh8beinb6n</string>
	<key>API_KEY</key>
	<string>AIzaSyComPNjFHPblOwStdUrnoqJA_KdtxdWSZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>676014903428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renolation.quiz</string>
	<key>PROJECT_ID</key>
	<string>quizapp-359910</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-359910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676014903428:ios:18e72fe288fb53e28f72d1</string>
</dict>
</plist>